@model IEnumerable<Ellite_Car_Rental.Models.Cart>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Car.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.F_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.From_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Till_Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Car.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.F_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.From_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Till_Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
