@model Car_rental.Models.Booking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountDetail.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountDetail.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarLocation.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarLocation.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtraFeature.FeatureName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtraFeature.FeatureName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookedFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookedFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookedTill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookedTill)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
