@model IEnumerable<Ellite_Car_Rental.Models.HomePage>

@{
    ViewBag.Title = "lookCars";
}

<h2></h2>

@foreach(var m in Model)
{
    <h4>Title: @m.Desc  - @m.Car_Type</h4>
    <h4>Image: @m.Url_Img</h4>
    <h4>Desc: @m.Desc</h4>
    <h4>Price: $@m.Rent</h4>
    <h4>Quantity: @m.Qty</h4>

}

