@model IEnumerable<Ellite_Car_Rental.Models.HomePage>

@{
    ViewBag.Title = "lookCars";
    Layout = null;
}

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">


<h2 class="display-1">Choose Your Car</h2>


<div class="w3-container w3-text-grey" id="result_search">
   
    <table style="table-layout: fixed" class="table">

        @foreach (var m in Model)
        {
        <tr>

            <th>
               
                    <img src="@m.Url_Img" style="position: relative; width:200px; height:200px ">
                
                <span class="tab"></span>
            <h4> @m.Title   ( @m.Car_Type.Type)</h4>
                
            </th>
            
            
            <th>
                <h4>    @m.Desc     </h4></th>
            <th style="overflow: hidden">
                <h4>Price: $ @m.Rent</h4></th>
            
            <th>@Html.ActionLink("Reserve", "Reserve", new { id = m.ID})</th>
        </tr>


        }

    </table>




       



    </div>






